[submodule "BME280_driver"]
	path = BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver.git
  ignore = untracked

[submodule "STMems_Standard_C_drivers"]
	path = STMems_Standard_C_drivers
	url = https://github.com/STMicroelectronics/STMems_Standard_C_drivers.git
  ignore = untracked
[submodule "BMG250-API"]
	path = BMG250-API
	url = https://github.com/BoschSensortec/BMG250-API.git
